---
import { Icon } from 'astro-icon/components'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Icon Test</title>
	</head>
	<body>
		<h1>Astro Icon Test</h1>
		<div style="display: flex; gap: 20px; font-size: 48px;">
			<Icon name="heroicons:home" title="Home (Heroicons)" />
			<Icon name="heroicons:check-circle" title="Check Circle (Heroicons)" />
			<Icon name="simple-icons:github" title="GitHub (Simple Icons)" />
			<Icon name="simple-icons:astro" title="Astro (Simple Icons)" />
			<Icon name="local:local-test" title="Local Icon" />
		</div>
        <p>If you see icons above, it works!</p>
	</body>
</html>

