open_ticket_ai:
  logging:
    version: 1
    disable_existing_loggers: false # Add this to prevent disabling loggers from other libraries

    formatters:
      standard:
        format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s' # Added %(name)s to see which logger is used

    handlers:
      console:
        class: "logging.StreamHandler"
        formatter: "standard"
        stream: "ext://sys.stdout"

    # ADDED: A specific logger for your application
    loggers:
      open_ticket_ai: # This will catch logs from all submodules
        handlers: [ "console" ]
        level: "INFO"
        propagate: false # Prevents logs from being sent to the root logger and printed twice

    root:
      level: "INFO" # Set root logger to WARNING to reduce noise from third-party libraries
      handlers: [ "console" ]
  system:
    type: "otobo"
    config:
      server_address: "http://212.19.58.44/znuny/nph-genericinterface.pl"
      webservice_name: "OpenTicketAI"
      search_operation_url: "ticket-search"
      update_operation_url: "ticket-update"
      get_operation_url: "ticket-get"
      username: "open_ticket_ai"
      password_env_var: "OTOBO_EHS_PASSWORD"
  pipelines:
    - id: "ticket-routing"
      pipeline_config:
        min_priority_confidence: 0.8
        min_queue_confidence: 0.8
        filter_by_queue_name: "EingangsQueue"
        queue_model: "softoft/EHS_Queue_V8"
        priority_model: "softoft/EHS_Priority_Prediction"
        low_confidence_queue_name: "Unklassifiziert"
        low_confidence_priority_name: "3 Mittel"

      steps:
        - name: "ticket_fetcher"
          type: "open_ticket_ai.extensions.TicketSystemService"
          operation: "find"
          ticket_search_criteria:
            queue:
              name: "{{ pipeline_config.filter_by_queue_name }}"
            limit: 1

          output:
            data:
              ticket: "{{ current_state.found_tickets | first }}"

        - name: "queue_ai_model"
          type: "open_ticket_ai.extensions.HFLocalAIInferenceService"
          prompt: "{{ data.ticket.subject }} {{ data.ticket.body }}"
          hf_model: "{{ pipeline_config.queue_model }}"
          hf_token_env_var: "HUGGINGFACE_EHS_TOKEN"
          output:
            data:
              queue_prediction:
                prediction: "{{ current_state.label }}"
                confidence: "{{ current_state.confidence }}"

        - name: "priority_ai_model"
          type: "open_ticket_ai.extensions.HFLocalAIInferenceService"
          prompt: "{{ data.ticket.subject }} {{ data.ticket.body }}"
          hf_model: "{{ pipeline_config.priority_model }}"
          hf_token_env_var: "HUGGINGFACE_EHS_TOKEN"
          output:
            data:
              priority_prediction:
                prediction: "{{ current_state.label }}"
                confidence: "{{ current_state.confidence }}"

        - name: "queue_mapper"
          type: "open_ticket_ai.extensions.SimpleKeyValueMapper"
          from_key: "{{ data.queue_prediction.prediction }}"
          key_to_value_map:
            "Anfrage an die IT::Backup/Rücksicherung": "Anfrage an die IT::Backup/Rücksicherung"
            "Anfrage an die IT::Benutzer/Passwörter/Berechtigungen": "Anfrage an die IT::Benutzer/Passwörter/Berechtigungen"
            "Anfrage an die IT::DMS-System (d.3)": "Anfrage an die IT::DMS-System (d.3)"
            "Anfrage an die IT::Drucker": "Anfrage an die IT::Drucker"
            "Anfrage an die IT::ERP-System (Wilken/eGecko)": "Anfrage an die IT::ERP-System (Wilken/eGecko)"
            "Anfrage an die IT::Fachsystem Pflege": "Anfrage an die IT::Fachsystem Pflege"
            "Anfrage an die IT::Homeoffice": "Anfrage an die IT::Homeoffice"
            "Anfrage an die IT::Logbuch/Sharepoint": "Anfrage an die IT::Logbuch/Sharepoint"
            "Anfrage an die IT::Mail/Outlook": "Anfrage an die IT::Mail/Outlook"
            "Anfrage an die IT::PC/Hardware": "Anfrage an die IT::PC/Hardware"
            "Anfrage an die IT::Smartphone/Tablet": "Anfrage an die IT::Smartphone/Tablet"
            "Anfrage an die IT::Software-Bestellungen": "Anfrage an die IT::Software-Bestellungen"
            "Anfrage an die IT::Sonstige Systeme/Anwendungen": "Anfrage an die IT::Sonstige Systeme/Anwendungen"
            "Anfrage an die IT::TK-Anlagen/Nebenstellen": "Anfrage an die IT::TK-Anlagen/Nebenstellen"
            "Anfrage an die IT::Netzwerk/Internet": "Anfrage an die IT::Netzwerk/Internet"
            "Assistenzsysteme": "Assistenzsysteme"
            "Bewerbungsmanagement": "Bewerbungsmanagement"
            "Hausnotruf": "Hausnotruf"
            "Hauswirtschaft": "Hauswirtschaft"
            "Hygiene": "Hygiene"
            "Lernwelt": "Lernwelt"
            "Personal Office": "Personal Office"
            "Pflege und Alltagsbegleitung": "Pflege und Alltagsbegleitung"
          output:
            mapped_queue: "{{ current_state.to_value }}"

        - name: "priority_mapper"
          type: "open_ticket_ai.extensions.SimpleKeyValueMapper"
          from_key: "{{ data.priority_prediction.prediction }}"
          key_to_value_map:
            "1 Kritisch": "1 Kritisch"
            "3 Mittel": "3 Mittel"
            "5 Sehr niedrig": "5 Sehr niedrig"
          output:
            data:
              mapped_priority: "{{ current_state.to_value }}"


        - name: "final_queue_low_confidence"
          type: "open_ticket_ai.extensions.ContextModifier"
          output:
            data:
              final_queue: |
                {% if data.queue_prediction.confidence | float >= pipeline_config.min_queue_confidence %}
                  {{ data.mapped_queue }}
                {% else %}
                  {{ pipeline_config.low_confidence_queue_name }}
                {% endif %}

        - name: "queue_updater"
          type: "open_ticket_ai.extensions.TicketSystemService"
          operation: "update"
          ticket_id: "{{ data.ticket.id }}"
          ticket:
            queue:
              name: "{{ data.final_queue }}"

        - name: "queue_note_adder"
          type: "open_ticket_ai.extensions.TicketSystemService"
          operation: "update"
          ticket_id: "{{ data.ticket.id }}"
          ticket:
            article:
              subject: "Automatische Klassifizierung"
              body: |
                Das Ticket wurde automatisch der Queue {{ data.final_queue }} zugeordnet;
                mit der Konfidenz {{ data.queue_prediction.confidence }}

        - name: "final_priority_low_confidence"
          type: "open_ticket_ai.extensions.ContextModifier"
          output:
            data:
              final_priority: |
                {% if data.priority_prediction.confidence | float >= pipeline_config.min_priority_confidence %}
                  {{ data.priority_prediction.prediction }}
                {% else %}
                  {{ pipeline_config.low_confidence_priority_name }}
                {% endif %}



        - name: "priority_updater"
          type: "open_ticket_ai.extensions.TicketSystemService"
          operation: "update"
          ticket_id: "{{ data.ticket.id }}"
          ticket:
            priority:
              name: "{{ data.final_priority }}"

        - name: "priority_note_adder"
          type: "open_ticket_ai.extensions.TicketSystemService"
          operation: "update"
          ticket_id: "{{ data.ticket.id }}"
          ticket:
            article:
              subject: "Automatische Priorisierung"
              body: |
                Das Ticket wurde automatisch der Priorität {{ data.final_priority }} zugeordnet;
                mit der Konfidenz {{ data.priority_prediction.confidence }}


  orchestrator:
    run_every_milli_seconds: 10000
