open_ticket_ai:
  version: 1

  general_config:
    logging:
      version: 1
      disable_existing_loggers: false
      formatters:
        standard:
          format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
      handlers:
        console:
          class: "logging.StreamHandler"
          formatter: "standard"
          stream: "ext://sys.stdout"
      loggers:
        open_ticket_ai:
          handlers: [ "console" ]
          level: "INFO"
          propagate: false
      root:
        level: "INFO"
        handlers: [ "console" ]


  services:
    - id: otobo
      driver: otobo
      config:
        server_address: "{{ OTAI_OTOBO_SERVER_ADDRESS }}"
        username: "open_ticket_ai"
        password: "{{ OTAI_OTOBO_PASSWORD }}"

    - id: hf_local
      implements: TextClassifier
      driver: hf_local
      config: { }

  pipe_definitions:
    - name: classification_generic
      steps:
        - name: calculating_new_value
          config: "{{ container.config }}"
          steps:
            - name: classify
              type: ClassifierPipe
              services: { classifier: hf_local }
              config:
                model: "{{ container.config.model }}"
                token: "{{ container.config.token }}"
                prompt: "{{ container.config.prompt }}"
              on_failure: "fail_container"

            - name: map_value
              config:
                expression: "{{ container.config.map_obj[data.pipes.classify.label] }}"
              on_failure: "continue"

            - name: select_final
              config:
                expression: |-
                  {% if data.pipes.classify.confidence|float >= container.config.min_conf %}
                    {{ pipes.map_value.value }}
                  {% else %}
                    {{ container.config.low_conf_name }}
                  {% endif %}
          on_failure: "continue"

        - name: update_ticket_add_note
          config: "{{ container.config }}"
          steps:
            - name: update_ticket
              use: TicketUpdatePipe
              services: { target_ts: otobo }
              config:
                ticket_id: "{{ dcontainer.config.ticket_id }}"
                updated_ticket:
                  "{{ container.config.ticket_field }}": "{{ data.final_value }}"
              on_failure: "fail_container"

            - name: add_note_success
              use: TicketAddNotePipe
              services: { target_ts: otobo }
              when: |-
                {{ 
                  data.pipes.classify.confidence|float >= container.config.min_conf and
                  meta.pipes.update_ticket.success
                }}
              params:
                ticket_id: "{{ container.config.ticket_id }}"
                note: |
                  {% if data.pipes.classify.confidence|float >= container.config.min_conf %}
                    {{ container.config.note_high.body }}
                  {% else %}
                    {{ container.config.note_low.body }}
                  {% endif %}
              on_success: "finish_container"
          on_success: "finish_container"
          on_failure: "continue"

        - name: update_ticket_error_fallback
          config: "{{ container.config }}"

          steps:
            - name: update_on_error
              when: "{{ container.config.update_on_error }}"
              use: TicketUpdatePipe
              services: { target_ts: otobo }
              params:
                ticket_id: "{{ container.config.ticket_id }}"
                updated_ticket:
                  "{{ container.config.ticket_field }}": "{{ container.config.on_error_update_value }}"
              on_failure: "fail_container"

            - name: add_error_note
              when: "{{ container.config.error_note }}"
              use: TicketAddNotePipe
              services: { target_ts: otobo }
              params:
                ticket_id: "{{ container.config.ticket_id }}"
                note: "{{ container.config.error_note }}"

    - name: ticket-routing
      steps:
        - name: ticket_fetcher
          use: TicketFetchPipe
          services: { target_ts: otobo }
          params:
            ticket_search_criteria: "{{ pipeline_config.ticket_search_criteria }}"

        - name: queue_classification
          use_def: classification_generic
          config:
            service_alias: otobo
            classifier_alias: hf_local
            model: "{{ pipeline_config.queue_model }}"
            token: "{{ env.OTAI_HUGGINGFACE_EHS_TOKEN }}"
            prompt: "{{ data.ticket.subject }} {{ data.ticket.body }}"
            map_obj: "{{ pipeline_config.queue_map }}"
            min_conf: "{{ pipeline_config.min_queue_confidence }}"
            low_conf_name: "{{ pipeline_config.low_confidence_queue_name }}"
            ticket_field: "queue.name"
            success_full_high_confidence_note:
              subject: "Automatische Klassifizierung"
              body: |
                Das Ticket wurde automatisch der Queue {{ data.final_queue }} zugeordnet;
                mit der Konfidenz {{ data.queue_prediction.confidence }}
            success_full_low_confidence_note:
              subject: "Automatische Klassifizierung"
              body: |
                Das Ticket wurde automatisch der Queue {{ data.final_queue }} zugeordnet;
                da die Konfidenz {{ data.queue_prediction.confidence }} zu gering ist.
                Mindest Konfidenz {{ pipeline_config.min_queue_confidence }}

            update_on_error: true
            on_error_update_value: "{{ pipeline_config.error_queue_name }}"
            error_note:
              subject: ""
              body: |
                Das Ticket konnte nicht automatisch der Queue zugeordnet werden;
                Da ein Fehler aufgetreten ist.
                Wurde in die Queue {{ pipeline_config.error_queue_name }} verschoben.


        - name: priority_classification
          use: Composite
          use_def: classification_generic
          params:
            service_alias: otobo
            classifier_alias: hf_local
            model: "{{ pipeline_config.priority_model }}"
            token_env: "HUGGINGFACE_EHS_TOKEN"
            prompt_tmpl: "{{ data.ticket.subject }} {{ data.ticket.body }}"
            map_obj: "{{ pipeline_config.priority_map }}"
            min_conf: "{{ pipeline_config.min_priority_confidence }}"
            low_conf_name: "{{ pipeline_config.low_confidence_priority_name }}"
            ticket_field: "priority.name"
            success_full_high_confidence_note:
              subject: "Automatische Priorisierung"
              body: |
                Das Ticket wurde automatisch der Priorität {{ data.final_value }} zugeordnet;
                mit der Konfidenz {{ current_state.cls.confidence }}"
            success_full_low_confidence_note:
              subject: "Automatische Priorisierung"
              body: |
                Das Ticket wurde automatisch der Priorität {{ data.final_value }} zugeordnet;
                da die Konfidenz {{ current_state.cls.confidence }} zu gering ist.
                Mindest Konfidenz {{ pipeline_config.min_priority_confidence }}
            update_on_error: false
            error_note:
              subject: "Automatische Priorisierung"
              body: |
                Das Ticket konnte nicht automatisch der Priorität zugeordnet werden;
                Da ein Fehler aufgetreten ist.

  orchestrator:
    runners:
      - run_every_milli_seconds: 10000
        use: ticket-routing
        config:
          ticket_search_criteria:
            queue.name: "EingangsQueue"
            limit: 1
          min_queue_confidence: 0.8
          min_priority_confidence: 0.8
          queue_model: "softoft/EHS_Queue_V8"
          priority_model: "softoft/EHS_Priority_Prediction"
          low_confidence_queue_name: "Unklassifiziert"
          low_confidence_priority_name: "3 Mittel"
          queue_map:
            Raw: "Raw"
          priority_map:
            "1 Sehr Hoch": "1 Sehr Hoch"
            2
            "3 Mittel": "3 Mittel"
            "5 Sehr niedrig": "5 Sehr niedrig"

