name: Python application

on:
    push:
        branches: [ "main", "dev" ]
    pull_request:
        branches: [ "main", "dev" ]

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Set up uv
                uses: astral-sh/setup-uv@v6
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: '3.13'
            -   name: Install dependencies
                run: uv sync --locked --all-extras
            -   name: Lint with ruff
                run: |
                    uv run ruff format --check .
                    uv run ruff check .
            -   name: Type check with mypy
                run: uv run mypy src

    test-core-unit:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Set up uv
                uses: astral-sh/setup-uv@v6
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: '3.13'
            -   name: Install dependencies
                run: uv sync --all-extras
            -   name: Core Unit Tests
                run: uv run pytest tests/unit/ -v

    test-core-integration:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v4
            -   name: Set up uv
                uses: astral-sh/setup-uv@v6
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version: '3.13'
            -   name: Install dependencies
                run: uv sync --all-extras
            -   name: Core Integration Tests
                run: uv run pytest tests/integration/ -v
            -   name: Test with pytest
                run: uv run pytest .
